header {
  color: tomato;
  font-weight: bold;
  padding-bottom: 10px;
}

img {
  padding: 10px 5px 0 5px;
  width: 30px;
}

div {
  font-weight: bold;
  font-size: 20px;
}

.location {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid rgba(77, 72, 75, 0.767);
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
  width: 320px;
  min-height: 170px;
  background-color: #a4fd71;
}
